@use "reset";
@use "fonts";
@use "grid";

main {
  width: 100%;
  min-height: 100vh;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--rs-color-background-primary);
  color: var(--rs-text-primary);
}

* {
  box-sizing: border-box;
}

.ktl-logo-large-module_version-tag_4KEoG {
  font-size: 13px;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

.ktl-header-module_header-menu_3q6JB {
  width: 100%;
  box-sizing: border-box;
}
