@import "reset.scss";
@import "fonts.scss";
@import "grid.scss";

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--rs-color-background-primary);
  color: var(--rs-text-primary);
}

* {
  box-sizing: border-box;
}

.ktl-logo-large-module_version-tag_4KEoG {
  font-size: 13px;
}
