.start-section {
  padding: 96px 0;
  background: #7f52ff
    radial-gradient(
      89.53% 145.96% at 0.34% 100.79%,
      #ef4857 0%,
      #de4970 17.58%,
      #b44db0 50.31%,
      #7f52ff 97.03%
    );
}
