.usage-section {
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 96px;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 192px;

    @media (max-width: 640px) {
      height: 160px;
    }
  }

  &__logo {
    height: 48px;
    width: auto;
    object-fit: contain;
    object-position: left;

    &_spring {
      padding: 10px 0;
      box-sizing: border-box;
    }
  }
}