.header-mobile-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 0px 4px 8px;
  color: #fff;
}

@media (max-width: 768px) {
  .ktl-horizontal-menu-module_nav_19XiR {
    display: none !important;
  }

  .header-mobile-toggle {
    display: block !important;
  }

  .ktl-search-button_button_2B8BX {
    display: none !important;
  }
}
