.overview-page {
  background-color: #27282c;
}

.header-section {
  background-color: transparent;
  padding-top: 96px;
  padding-bottom: 96px;

  &__actions {
    margin-top: 32px;
    display: flex;
    gap: 16px;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__why-btn {
    margin-left: 16px;
  }

  &__contributors {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
