.why-kotlin-section {
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 96px;

  &__youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    max-width: 650px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.programming-language__code {
  margin: 0;
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 0 0 8px 8px;
  overflow-x: auto;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  line-height: 24px;

  .hljs {
    background: transparent;
    padding: 0;
  }
}
